{% extends 'base.html.twig' %}

{% block title %}Hello LinkController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<form>
    <div class="form-group">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="input-group">
                <label for="link" class="form-control">Link</label>
                <input type="text"  class="form-control w-50" required id="link" placeholder="Enter link">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
                 <label for="life-time" class="form-control">Lifetime</label>
                 <input type="time"  class="form-control w-50" required id="life-time" />
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Create Link</button>
    </form>
</div>
{% endblock %}
