<style>
    .navbar { 
        display: flex; 
        justify-content: center;
        font: 18px/1.5 sans-serif;
    }
    .item {
        padding-left: 10px;
    }
</style>

<div class="navbar">
    <a class="item" href="/">Home</a>
    <a class="item" href="/link-statistic">Statistic</a>
</div>
