<style>
    .navbar { 
        display: flex; 
        justify-content: center;
        font: 18px/1.5 sans-serif;
    }
    .navbar a {
        outline: none;
        text-decoration: none;
        color: #464949;
        transition: 1s;
    }
    .navbar a:hover {
        outline: none;
        color: #e06b27;
    }
    .tree {
        margin-left: 10px;
    }
    .item {
        padding-left: 10px;
    }
</style>

<div class="navbar">
    <a class="item" href="/">Home</a>
    <div class="tree">|</div>
    <a class="item" href="/link-statistic">Statistic</a>
</div>
